<div class="container">

  <h1>Write up stuff about services here</h1>
    <h1>Panthium Services are:</h1>

    <div class="row justify-content-left">
      <div class="col-6">
        Type in your content here!!
        <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
      </div>
    </div>
</div>

  <div class="textcontainer">
    <p><% @service.each do |service| %>
      <%= @service.name %>
      <%= @service.description %>
      <% end %>
    </p>
  </div>
