<div class="panthiumcontainer">

  <h1>Write up stuff about services here</h1>
    <h1>Panthium Services are:</h1>

  <div class="textcontainer">
    <ul><% @services.each do |service| %>
      <li><%= service.name %>:
          <%= service.description %></li>
      <% end %></ul>
  </div>

    <div class="row justify-content-left">
      <div class="col-6">
        Type in your content here!!
        <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
      </div>
    </div>
</div>



