<div class="panthiumcontainer">
  <div class="card-category">
    <br>
    <br>
    <br>
    <h2>Panthium Data Protection Services</h2>
    <p style="color:green">-------------------</p>
    <p>Established providers to SMEs.</p>
    <p>Global credentials.</p>
    <br>
    <br>
    <img src="app/images/kpmg.jpg" alt="">
  </div>
  <br>
  <div class="btn btn-flat btn-block">About Us</div>
    <div class="btn btn-ghost">Protect Your Data</div>
</div>

<div class="card-logo">
  logos

</div>
  <p>Insert logos here...</p>
  <!-- app/views/articles/index.html.erb -->
