<div class="panthiumcontainer">
  <div class="card-category">
    <br>
    <br>
    <br>
    <h2>Panthium Data Protection Services</h2>
    <p style="color:green">-------------------</p>
    <p>Established providers to SMEs.</p>
    <p>Global credentials.</p>
    <br>
    <br>
    <img src="app/images/kpmg.jpg" alt="">
  </div>
  <br>
  <div class="btn btn-flat btn-block">About Us</div>
<br>
<p align="center">Data Protection Services For:</p>
  <div class="card-logo">
    <div class="row">
      <div class="column">
        <!-- app/views/articles/index.html.erb -->
        <img src="assets/asda.jpg" width="100" height="50">
        <img src="assets/sky.jpg" width="100" height="50">
        <img src="assets/ucl.jpg" width="100" height="50">
      </div>
    </div>
  </div>

<!--  <div class="container">
    <div class="card-logo">
  <div class="row">
    <div class="col-sm">
      <img src="assets/asda.jpg" width="100" height="50">
    </div>
    <div class="col-sm">
      <img src="assets/sky.jpg" width="100" height="50">
    </div>
    <div class="col-sm">
      <img src="assets/ucl.jpg" width="100" height="50">
    </div>
  </div>
</div>
</div>

</div> -->


<div class="btn btn-ghost">Credentials</div>
<br>




