<h1>Hi there Terry!</h1>

<p>Write up home page copy here</p>

<br>
<%= link_to "Write a story", "#", class: "btn btn-ghost" %>
<%= link_to "Book now", "#", class: "btn btn-flat" %>
<%= link_to "Start now", "#", class: "btn btn-gradient" %>
<div class="home-banner">
<p>This is an alert with css applied!</p>
Panthium is awesome.....
</div>

<div class="alert">
<p>This is an alert with css applied!</p>
</div>

Visit apps/stylesheets/_banner or _alert, change the background color so say black and see how it affects the front end.
