<h1>Home Page</h1>

<p>Write up home page copy here</p>

Panthium is awesome....

<br>
<br>
<br>
<br>


<div class="alert">
<p>Example Alert</p>
</div>

Visit apps/stylesheets/_banner or _alert, change the background color so say black and see how it affects the front end.

<p>This is an alert with css applied!</p>
<%= link_to "Button 1", "#", class: "btn btn-ghost" %>
<%= link_to "Button 2", "#", class: "btn btn-flat" %>
<%= link_to "Button 3", "#", class: "btn btn-gradient" %>

<div class="home-banner">This is some text for the funky banner</div>
