<div class="container">
<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://unsplash.com/photos/n6B49lTx7NM')';">
  <div class="container">
    <h1>Panthium</h1>
    <p>Data Services and Data Protection for SMEs</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<h1>Home Page</h1>

<p>Write up home page copy here</p>

Panthium is awesome....

<br>
<br>
<br>
<br>


<div class="alert">
<p>Example Alert</p>
</div>

Visit apps/stylesheets/_banner or _alert, change the background color so say black and see how it affects the front end.

<p>This is an alert with css applied!</p>
<%= link_to "Button 1", "#", class: "btn btn-ghost" %>
<%= link_to "Button 2", "#", class: "btn btn-flat" %>
<%= link_to "Button 3", "#", class: "btn btn-gradient" %>

</div>
