<!-- Copy Mongo DB!!! -->

  <div class="home-banner">
    <br>
    <br>
    <h1>Panthium</h1>
    <p>Data Services and Data Protection for SMEs</p>
    <br>
    <a class="btn btn-ghost" href="#">Enter Site</a>
  </div>

  <div class="box-container">
    <h2>Panthium is a ............</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    </p>
    <br>
      <div class="boxes">
        <h2>service one synopsis</h2>
        <h2>service two synopsis</h2>
        <h2>service three synopsis</h2>
      </div>
  </div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

