.home-banner {
  background-size: cover;
  height: 40vh;
  color: #eee;
  text-align: center;
  padding-top: 10vh;
  // background-color: #4ca64c;
  // border-radius: 4%;
  background-image: url('panthium.jpeg');;
}
