.card-category {
  background-size: cover;
  background-position: center;
  background-image: url(asset_path('panthium-banner.jpg'));
  height: 70vh;
  width: 90vw;
  // display: flex;
  justify-content: center;
  align: center;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 1%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  background-color: white;
  opacity: 0.7;
  // background-image: url(asset_path('panthium.jpeg'));
}
