.panthiumcontainer {
  // z-index: 10;
  // display: flex;
  width: 100vw;
  height: 55vh;
  margin: 10px;
  padding: 10px;
  background-image: url(asset_path('panthium-background.png'));
  // background-image: 'panthium-background.png';
  background-position: cover;
  box-shadow: 2px 2px 4px #888888;
}

.textcontainer {
  margin: 20px;
  padding: 20px;
}

.box-container {
  // background-color: white;
  // border: solid;
  border-radius: 1%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px #f2f2f2;
}

.boxes {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
